@import './scss/index.scss';

.success {
    /* border: 1px solid $success;
    color: $background_success; */
    color: $success;
}

.error {
    /* border: 1px solid $error;
    color: $background_error; */
    color: $error;
}