$defaultFontSize: 16px;
$defaultSizeImg: 25%;
$primary_color: #0098D3;
$primary_color_hover: #0280b3;

$menu_color: #252527;

$font_ligth: #fff;
$font_grey_ligth: #e8e8e8;
$font_grey: #808080;
$font_grey_dark: #000;
$border_dark_ligth: #252527;
$font_dark: #000;

$border_ligth: #fff;
$border_grey_ligth: #e8e8e8;
$border_grey: #808080;
$border_grey_dark: #595959;
$border_dark_ligth: #252527;
$border_dark: #000;

$background_ligth: #fff;
$background_grey_ligth: #e8e8e8;
$background_grey: #808080;
$background_grey_dark: #595959;
$background_dark_ligth: #252527;
$background_dark: #000;
$background_success: #84b84c1f;
$background_error: #ff00001f;

$success: #84b84c;
$error: #f00;
$warning: orange;

// Responsive down size
$media_breakpoint_down_xs: 413.98px;
$media_breakpoint_down_sm: 573.98px;
$media_breakpoint_down_md: 767.98px;
$media_breakpoint_down_lg: 991.98px;
$media_breakpoint_down_xl: 1199.98px;

// Responsive up size
$media_breakpoint_up_xs: 320px;
$media_breakpoint_up_sm: 576px;
$media_breakpoint_up_md: 768px;
$media_breakpoint_up_lg: 992px;
$media_breakpoint_up_xl: 1200px;